/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  min-height: 75rem;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*body > .container {
  padding: 60px 15px 0;
}*/

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.bg-crypton-pattern {
  background: rgb(222, 120, 113);
  background: -moz-linear-gradient(top left, rgb(124, 67, 117) 25%, #d14d61, rgb(222, 120, 113));
  background: -webkit-linear-gradient(top left, rgb(124, 67, 117) 25%, #d14d61, rgb(222, 120, 113));
  background: -ms-linear-gradient(top left, rgb(124, 67, 117) 25%, #d14d61, rgb(222, 120, 113));
  background: linear-gradient(top left, rgb(124, 67, 117) 25%, #d14d61, rgb(222, 120, 113));
}

.bg-crypton-nav {
  background: rgba(124, 67, 117, 1);
  background: -moz-linear-gradient(top, rgba(124, 67, 117, 0.9),  rgba(124, 67, 117, 0.5));
  background: -webkit-linear-gradient(top, rgba(124, 67, 117, 0.9),  rgba(124, 67, 117, 0.5));
  background: -ms-linear-gradient(top, rgba(124, 67, 117, 0.9),  rgba(124, 67, 117, 0.5));
  background: linear-gradient(top, rgba(124, 67, 117, 0.9),  rgba(124, 67, 117, 0.5));

}

#content {
  padding-top: 150px;
  padding-bottom: 100px;
  margin: auto;
  background: transparent;
  font-family: 'Montserrat', sans-serif;
}

#top {
  font-family: 'Roboto', sans-serif;

}

#features {
  min-width: 250px;

}

#features.img {
  padding-top: 50px;
}
.crypton-subtitle {
  font-size: 1.5em;
}

.crypton-modal {
  background-color: purple;
}

.crypton-button :hover {
  background: transparent;

}

/*.feature-text {
  padding: 30px
}*/

/*div {
  padding-bottom: 30px;
}

img {
  padding-bottom: 20px;
}*/

.item .img {
  float: left;
  display: block;
  height: 230px;
}

.crypton-logo {
  width:45px;
  height: 45px;
}

#portfolio {
  color: #f5f5f5;
}
